@media all and (max-width: 1000px) {
      h1 {
        font-size:75px;
      }
      
      h2{
        font-size: 20px;
      }
      
      .content-p{
        font-size: 11px;
        letter-spacing: 1px;
        line-height:16px;
      }
    
    footer{
        flex-direction: row;
    }
    .contact-us{
        width: 30%;
        margin: 10px;
        margin-left: 25px;
        line-height: 20px;
    }
    .suggestion{
        width: 63%;
        margin-left: 15px;
    }
}
@media all and (max-width: 670px) {
    h1 {
        font-size:70px;
      }
      
      h2{
        font-size: 18px;
      }
      
      .content-p{
        font-size: 10px;
        letter-spacing: 1px;
        line-height:16px;
      }
    
    footer{
        flex-direction: column;
    }
    .contact-us{
        width: 100%;
    }
    .suggestion{
        width: 90%;
        margin-left:25px;
    }
}
